$base-color: #380200;
$background-color: white;
$content-background-color: #f5f5f5;
$highlight-on-dark-background-color: #6f6f6f;
$secondary-red: #bc0004;

$cocoapods-highlight-color: #fb0006;
$blog-hover-color: #380200;

$nav-color: $background-color;
$nav-hover-color: $base-color;

$footer-background-color: #380200;
$footer-link-hover-color: white;

$search-background-color: #d1c4c0;

$fonts: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial";
$body-fonts: "Lato", "Helvetica Neue", "Helvetica", "Arial";
