[submodule "external/cocoadocs-api"]
	path = external/cocoadocs-api
	url = https://github.com/CocoaPods/cocoadocs-api.git
[submodule "source/shared"]
	path = source/shared
	url = https://github.com/CocoaPods/shared_resources.git
