[submodule "shared"]
	path = shared
	url = https://github.com/CocoaPods/shared_resources.git
[submodule "gems/CLAide"]
	path = gems/CLAide
	url = https://github.com/CocoaPods/CLAide.git
[submodule "gems/CocoaPods"]
	path = gems/CocoaPods
	url = https://github.com/CocoaPods/CocoaPods.git
[submodule "gems/Core"]
	path = gems/Core
	url = https://github.com/CocoaPods/Core.git
[submodule "gems/Xcodeproj"]
	path = gems/Xcodeproj
	url = https://github.com/CocoaPods/Xcodeproj.git
[submodule "gems/cocoapods-downloader"]
	path = gems/cocoapods-downloader
	url = git@github.com:CocoaPods/cocoapods-downloader.git
