---
title: Contributing
layout: index

footer: yes
footer_order: 4
---

p 
  | CocoaPods is a project that relies on people working on it in their spare time, it is partially funded by the employers of core team members but a lot of the work is done by the users of CocoaPods.
  
p 
  | We want to encourage people to help out, and so we've wrote about up the process of working on the CocoaPods project. Whilst this is not all-encompassing, it provides a great start.
