
/* PAGE **********************************************************************/

/* Bootstrap has a 940px container and cocoapods.org is 1024px. The container
 * is enlarged and padding is added to compensate in the sub-containers so the
 * available space to rows is 940px. */

html,
body {
   padding:0;
   height:100%;
}

body {
  color: #8C7A73;
  background-color:#fcf3e5;
}

.container {
  min-height: 100%;
  width: 1024px;
  position: relative;
  background-color:rgb(255, 255, 255);
}



/* #content-container { */
/*   border-top: 1px solid #F7F7F7; */
/*   margin: 0; */
/*   padding:40px 0; */
/*   /* match cocoapods.org */ */
/*   background-color:rgb(255, 255, 255); */
/* } */
/*  */
/* CONTENT *******************************************************************/

p.multi-platform {
  font-weight: bold;
}

a {
  color: #CA8A29;
  font-weight: bold;
}

a:hover, a:hover code {
  text-decoration: none;
  color: #A06D20;
}

code a  {
  color: #CA8A29;
  font-weight: normal;
  color: rgb(140, 122, 115);
}


h2, h3 {
  color:#E6A33C;
}

h2 {
  padding-bottom:20px
}


h3 {
  margin:20px 0;
  font-size: 14px
}

h4 {
  font-size:12px;
  color: #CCC;
  margin: -10px 0px 4px;
}

.tab-content {
  font-weight: 300;
}

.method_keys code {
  background:none;
}

/* Labels ******************************/

span.label {
  background-color: #D3BCAC;
  color: #FDFAF2;
  text-shadow: 0 0px;
  font-weight: normal;

  /* Experimental */
  background-image: -webkit-linear-gradient(top, #BEAA89, #CAB79B);
  background-color: none;
}

span.label a {
  color: #FDFAF2;
  text-decoration: none;
}

span.label.label-small {
  float: left;
  border-radius: 2px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  margin: 3px 2px 0px -26px;
  padding: 0;
  font-size: 10px;
}


span.label.label-big {
  color: white;
  /* background-color: #8C7A73; */
  float: right;
  font-size: 14px;
  line-height: 18px;
  margin: 6px 12px 0px 0px;
  padding: 8px 10px;
}

/* Syntax Highlighting *****************/

pre {
  margin:20px 0;
  background-color: #424242;
  background-color: #52433E;
  color: #DFCCAC;
}

.s1, .s2, .ss, .sh,
.nf, .no, .kp
{
  color:#E6A33C;
}

.k, .o, .si {
  color: #FDFAF2;
}

.c1 {
  color: #97857E;
}

.lineno {
  color: hsl(18, 13%, 39%);
  margin-right: 10px;
}

code {
  color: #8C7A73;
  background-color: #fdfaf2;
}




#header h1 {
  margin-top: 0px;
}

a code {
  color: #8C7A73;
  font-weight: normal;
}

.breadcrumb {
  background:none;
  margin: 0;
}

.breadcrumb .divider {
  color: #8C7A73;
}

.breadcrumb li {
text-shadow: none;
}

#logo {
  height: 40px;
  background-image:url(../img/logo.png);
  background-repeat:no-repeat;
  background-position:left center;
}

#logo a {
  line-height: 40px;
  padding: 0 0 0 52px;
  font-weight: bold;
}

.breadcrumb .active {
  color: hsl(17, 24%, 68%);
}

p.source_file a {
  color: hsl(17, 10%, 50%);
  font-weight: normal;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
