ruby:
  quality = File.read "external/cocoadocs-api/quality_modifiers.rb"
  markdown = quality.split("#### <---- Start of Markdown").last.split("#### End of Markdown --->").first
  markdown = markdown.lines.map { |l| l[1...-1] }.join("\n")

  # These procs are getting a bit unweildy for users to see now IMO
  markdown = markdown.gsub("Proc.new { |spec, cd_stats, stats, cp_stats, owners|", "{ |...|")

  renderer = Redcarpet::Markdown.new(RubyHTMLwithPygments)
  result = renderer.render(markdown)

= wrap_layout :layout do
  == yield
  == result
