footer.page-footer
  section.container
    .row
      article.col-md-8.col-lg-8.col-sm-12.col-md-offset-2.col-lg-offset-2.col-xs-12

        h4 CocoaPods is a project from
        p.contributors
          |  <a href="https://twitter.com/dnkoutso">Dimitris Koutsogiorgas</a>,
          |  <a href="https://dani.builds.terrible.systems/">Danielle Lancashire</a>,
          |  <a href="https://github.com/amorde">Eric Amorde</a>,
          |  <a href="https://orta.io">Orta Therox</a>,
          |  <a href="https://github.com/paulb777">Paul Beusterien</a>,
          |  <a href="https://segiddins.me">Samuel Giddins</a>,
          |  and
          |  <a href="https://cocoapods.org/about#team">The CocoaPods Dev Team</a>
          |  with contributions from <a href="https://github.com/CocoaPods/Specs/graphs/contributors">many, many others</a>.
        h4 Lovingly sponsored by
        p.sponsors
          | <a href="http://artsy.net">Artsy</a>,
          |  <a href="http://www.usebutton.com">Button</a>,
          |  <a href="http://www.capitalone.io">Capital One</a>,
          |  <a href="https://circleci.com">CircleCI</a>,
          |  <a href="http://discontinuity.eu">Discontinuity</a>,
          |  <a href="http://www.fngtps.com">Fingertips</a>,
          |  <a href="https://developers.google.com">Google</a>,
          |  <a href="https://www.heroku.com">Heroku</a>,
          |  <a href="https://www.jsdelivr.com">jsDelivr</a>,
          |  <a href="https://realm.io">Realm</a>,
          |  <a href="https://pspdfkit.com/">PSPDFKit</a>,
          |  <a href="http://www.rubymotion.com">RubyMotion</a>,
          |  <a href="https://www.sauspiel.de">Sauspiel</a>,
          |  <a href="https://www.slack.com">Slack</a>,
          |  <a href="https://www.soundcloud.com">SoundCloud</a>,
          |  <a href="https://www.stripe.com">Stripe</a>,
          |  <a href="https://www.squareup.com">Square</a>, and 
          |  <a href="http://www.technologyastronauts.ch">Technology&nbsp;Astronauts</a>.

footer.footer-links
  section.container
    .row
      article.col-md-8.col-lg-8.col-sm-12.col-md-offset-2.col-lg-offset-2.col-xs-12

        a.cocoapods-small-logo href="https://cocoapods.org"

        ul
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://guides.cocoapods.org/using/troubleshooting.html">Support</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://github.com/CocoaPods/CocoaPods">GitHub Repo</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://status.cocoapods.org">Web Properties Status</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://twitter.com/CocoaPods">@CocoaPods</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="http://groups.google.com/group/cocoapods">Mailing List</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://cocoapods.org/about"><span class="visible-lg-span">CocoaPods</span> Dev Team</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://guides.cocoapods.org/syntax/podfile.html">Podfile Doc<span class="hidden-lg-span">s</span><span class="visible-lg-span">umentation</span></a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://cocoapods.org/legal">Legal / Conduct</a>
